body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.text-muted {
    color: #6c757d !important;
    margin-left: -15px;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar ul li {
        color: #000;
    }

.sidebar .nav-item a:hover {
        margin-right: 4px;
        color: #888;
    }
.text-muted a span {
    margin-left: 30px;
}
